In [1]:
import pandas as pd

In [16]:
data = pd.read_json('MAL_user_list.json')
data.head()

,name,id_ref,consumption_status,is_rewatch,score,progress,start_date,finished_date
0,Aharen-san wa Hakarenai,49520,{'name': 'consuming'},False,0,2,NaN,NaN
1,Azumanga Daiou The Animation,66,{'name': 'consuming'},False,0,1,NaN,NaN
2,Black Clover,34572,{'name': 'consuming'},False,0,101,NaN,NaN
3,Blue Lock,49596,{'name': 'consuming'},False,0,17,1.670717e+12,NaN
4,Boku no Hero Academia 6th Season,49918,{'name': 'consuming'},False,0,2,NaN,NaN

In [13]:
print(data['score'].unique())

[ 0 10  8  9  6  7  5  1]

In [21]:
data.to_csv('MAL_user_list.csv')